<style>
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  background-color: #99CCB3;

}

.order_number {
  color: #DE5E35;
  padding: 5px;
  border: 1px dashed #DE5E35;
  border-radius: 3px;
}

.email_text {
  display: flex;
  flex-direction: column;
  width: 40rem;
  background-color: #F7FBF9;
  padding: 2rem;
  border-radius: 3px;
  margin: 1rem auto;
}
</style>

<div class="email_text">
  <p style="font-weight:bold">Hello <%=@user.first_name%></p>

  <p>Thank you for ordering from <%=@order.restaurant.name%> with Vegan Wheels.</p>

  <p style="font-weight:bold">Your order number is: <span class="order_number"><%=@order.id%></span></p>

  <p>Your expected delivery time is <span style="font-weight:bold"><%=(@order.order_time + 30.minutes).strftime("%l:%M %p")%></span></p>

  <p>Please note that restaurants sometimes receive more orders than usual. This means that your delivery may arrive later than specified. You can see the status of your order on your <%= link_to 'dashboard', dashboard_index_url%>.</p>

  <p>Best wishes,</p>
  <p>Vegan Wheels 🌱</p>
</div>