<div class="modal-bckg modal-bckg-<%=item.id%>">
    <div class="modal__item">        
        <div class="modal__item--text">
            <div class="modal__item--top">
                <h3><%=item.name%></h3>
                <h3 class="price">£
                <%=to_pounds(item.price)%>
                </h3>
                <h3><i class="fas fa-times modal-close"></i></h3>
            </div>
            <div class="modal__item--description">
                <p><%=item.description%></p>
            </div>
            <form class="order-form" accept-charset="UTF-8" data-remote="true" method="post">
            
            <%=hidden_field_tag :authenticity_token, form_authenticity_token %>
                <div>
                    <label for="order_item_quantity">Quantity</label>
                    <select name="order_item[quantity]" id="order_item_quantity">
                    <option value=""></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>

                <div>
                    <label for="order_item_options">Options <abbr title="required">*</abbr></label>
                    
                    <% item.menu_options.each_with_index do |option, index| %>
                        <input type="checkbox" name="order_item[order_item_options_attributes][<%=index%>][menu_option_id]" id="order_item_options" value="<%=option.id%>"> <%=option.name%>
                        
                    <%end%>
                </div>

                <div>
                    <label for="order_item_note">Note</label>
                    <textarea name="order_item[note]" id="order_item_note"></textarea>
                </div>
                
                <input type="submit" name="commit" value="Add to order">  
            </form>
        </div>                      
    </div>
</div> 