<div class = "modal__box modal__cart">
    <div class="modal__cart--items">
        <div class="modal__cart--top">
            <h3 class="font-weight-bold">Your order from <%=@cart.order_items.first.menu_item.restaurant.name%></h3>
        </div>
        <%unique_cart = get_unique(@cart)%>
        <%unique_cart.each do |order_item|%>
        <div id="item-<%= order_item.id %>">
            <div class="modal__cart--item item-js" >
                <%duplicates = get_duplicates(order_item, @cart)%>
                <%if duplicates.empty?%>
                    <div class="modal__cart--itemwrapper">
                        <%= link_to order_item_path(order_item),
                            method: :delete,
                            remote: true do %>
                            <i class="fas fa-times"></i>
                        <%end%>
                        <div class="item">   
                            <p><%=order_item.quantity%> <%=order_item.menu_item.name%></p>
                        </div>
                    </div>
                    <p>£<%=to_pounds(order_item.total_price)%></p>
                <%else%>
                    <div class="modal__cart--itemwrapper">
                        <%all_items = duplicates.clone%>
                        <%all_items << order_item%>
                        <%= link_to order_item_path(all_items),
                            method: :delete,
                            remote: true do %>
                            <i class="fas fa-times"></i>
                        <%end%>
                        <div class="item">
                            <%quantity_sum = order_item.quantity + duplicates.each_with_object([]) {|oi,array| array<<oi.quantity }.sum%>
                            <%price_sum = order_item.total_price + duplicates.each_with_object([]) {|oi,array| array<<oi.total_price }.sum%>
                            <p><%=quantity_sum%> <%=order_item.menu_item.name%></p>
                        </div>
                    </div>
                    <p>£<%=to_pounds(price_sum)%></p>
                <%end%>
            </div>
            <%if order_item.order_item_options.present?%>
                <%order_item.order_item_options.each do |option|%>
                <div class="modal__cart--item">
                    <p class="modal__cart--side"><%=option.menu_option.name%></p>
                    <%if duplicates.empty?%>
                        <%if option.unit_price != 0%>
                            <p>£<%=to_pounds(option.total_price)%></p>
                        <%end%>
                    <%else%>
                        <%if option.unit_price != 0%>
                            <%count = duplicates.count + 1%>
                            <%total = count*option.unit_price%>
                            <p>£<%=to_pounds(total)%></p>
                        <%end%>
                    <%end%>

                </div>
                <%end%>
            <%end%>
            </div>
        <%end%>
        <div class="modal__cart--item">
            <p class="font-weight-bold">Subtotal</p>
            <p id="subtotal">£<%=to_pounds(@cart.get_subtotal)%></p>
        </div>
        <div class="modal__cart--item">
            <p>Delivery charge</p>
            <p>£<%=to_pounds(Business.first.delivery_price)%></p>
        </div>
        <div class="modal__cart--line"></div>
        <div class="modal__cart--item">
            <p class="font-weight-bold uppercase">Total</p>
            <p id="total">£<%= to_pounds(@cart.get_total)%></p>
        </div>
        <div class="modal__cart--buttons">

            <%if current_user.orders.where(state: 'pending').present?%>
                <%= link_to 'Check out', new_order_payment_path(current_user.orders.where(state: 'pending').first),class: 'button__fill button__fill--red'%>
            <%else%>
                <%= form_tag orders_path do %>
                    <%= hidden_field_tag 'cart_id', @cart.id %>
                    <%= submit_tag 'Check out', class: 'button__fill button__fill--red' %>
                <% end %>
            <%end%>
            <div class="button__fill button__fill--redl" id="cart-modal-close">Continue browsing</div>
        </div>
    </div>
</div>