<div class="modal__box modal__item <%=item.id%>"> 
    <div class="modal__item--text">
        <div class="modal__item--top">
            <h3><%=item.name%></h3>
            <h3 class="price">£
            <%=to_pounds(item.price)%>
            </h3>
        </div>
        <div class="modal__item--description">
            <p><%=item.description%></p>
        </div>
        <form class="order-form" id="order-form" accept-charset="UTF-8" data-remote="true" method="post">
        
        <%=hidden_field_tag :authenticity_token, form_authenticity_token %>
            <div>
                <label class="font-weight-bold" for="order_item_options">Options</label>
                
                <% item.menu_options.each_with_index do |option, index| %>
                    <div>
                        <input type="checkbox" name="order_item[order_item_options_attributes][<%=index%>][menu_option_id]" id="order_item_options" value="<%=option.id%>"> <%=option.name%> <%if option.price != nil%> 
                            £<%=to_pounds(option.price)%>
                        <%end%>
                    </div>
                <%end%>
            </div>

            <div>
                <label class="font-weight-bold" for="order_item_note">Special requests</label>
                <div>
                    <textarea name="order_item[note]" id="order_item_note"></textarea>
                </div>
            </div>

            <div class="modal__item--bottom">
                <div class="quantity-select">
                    <div class="button--quantity" id="subtract"><i class="fas fa-minus"></i></div>
                    <input type="text" name="order_item[quantity]" id="order_item_quantity" value="1">
                    <div class="button--quantity" id="add"><i class="fas fa-plus"></i></div>
                </div>
            </div>

            <button type="submit" class="button__fill button__fill--green">Add to order</button>
            <div class="button__fill button__fill--greenl" id="modal-close">Cancel</div>
        </form>
    </div>
</div>                       