<div class="navigation">
    <div class="container navigation__main">
        <div class="navigation__toggle"">
            <i class="fas fa-bars"></i>
        </div>
        <div class="navigation__logo">
            <%= link_to "Vegan Wheels", root_path %>
        </div>
        <div class="navigation__links">
            <div class="navigation__links--1 padding-small">
                <div class="link-blob"></div>
                <%= link_to "See all restaurants", restaurants_path %>
            </div>
            <div class="navigation__links--2 padding-small">
                <div class="link-blob"></div>
                <%= link_to "About us", root_path(anchor: 'about-section') %>
            </div>
            <div class="navigation__links--3 padding-small">
                <div class="link-blob"></div>
                <a href="#">Ride with us</a>
            </div>
            <%if !session[:cart_id].nil? && Cart.find(session[:cart_id]).order_items.present?%>
            <%@cart = Cart.find(session[:cart_id])%>
            <div class="navigation__links--wrap">
                <div id="nav_section">
                    <div class="nav_cart">
                        <div class="nav_cart--price">
                            <i class="fas fa-shopping-basket"></i>
                            <p>£<%=to_pounds(@cart.get_total)%></p>
                        </div>
                        <div>|</div>
                        <p class="uppercase"><%=pluralize(@cart.get_quantity, 'item')%></p>
                    </div>
                    <%= render 'partials/nav_cart_full', cart: @cart%>
                </div>
            </div>
            <%else%>
                <div class="navigation__links--wrap">
                    <div class="navigation__links--4 padding-small" id="nav_section">
                        <%= link_to "Sign up / Log in", new_user_session_path, id: "sign_up"%>
                    </div>
                </div>
            <%end%> 
        </div>
    </div>
</div>