<div class="navigation">
    <div class="container navigation__main">
        <div class="navigation__toggle"">
            <i class="fas fa-bars"></i>
        </div>
        <div class="navigation__logo">
            <%= link_to "Vegan Wheels", root_path %>
        </div>
        <%if user_signed_in?%>           
            <div id="user_icon_1" class="user_icon user_icon--mobile">
                <i class="fas fa-user"></i>
                <%= render 'partials/user_menu'%>
            </div> 
        <%end%>
        <div class="navigation__links">
            <div class="navigation__links--1 padding-small">
                <div class="link-blob"></div>
                <%= link_to "See all restaurants", restaurants_path %>
            </div>
            <div class="navigation__links--2 padding-small">
                <div class="link-blob"></div>
                <%= link_to "About us", root_path(anchor: 'about-section') %>
            </div>
            <div class="navigation__links--3 padding-small">
                <div class="link-blob"></div>
                <%= link_to "Join us", new_contact_path %>
            </div>
       
            <div id="nav_section">
                <%if !session[:cart_id].nil? && Cart.find(session[:cart_id]).order_items.present?%>
                <%@cart = Cart.find(session[:cart_id])%>
                    <div class="nav_cart">
                        <div class="nav_cart--price">
                            <i class="fas fa-shopping-basket"></i>
                            <p>£<%=to_pounds(@cart.get_total)%></p>
                        </div>
                        <div>|</div>
                        <p class="uppercase"><%=pluralize(@cart.get_quantity, 'item')%></p>
                    </div>
                <%elsif user_signed_in? && current_user.orders.where(state: "pending").present?%>
                    <%@cart = current_user.orders.where(state: "pending").first.cart%>

                    <%=link_to new_order_payment_path(current_user.orders.where(state: 'pending').first) do%>
                        <div class="nav_cart">
                            <div class="nav_cart--price">
                                <i class="fas fa-shopping-basket"></i>
                                <p>£<%=to_pounds(@cart.get_total)%></p>
                            </div>
                            <div>|</div>
                            <p class="uppercase"><%=pluralize(@cart.get_quantity, 'item')%></p>
                        </div>
                    <%end%>
                <%end%>      
            </div>
        
            <%if user_signed_in?%>           
                <div id="user_icon_2" class="user_icon user_icon--normal">
                    <i class="fas fa-user"></i>
                    <%= render 'partials/user_menu'%>
                </div>  
            <%else %>
                <div class="navigation__links--4 padding-small" id="">
                    <%= link_to "Log in", new_user_session_path, id: "sign_up"%>
                </div>
            <%end%>
        </div>
    </div>
</div>