<div class="dashboard__box--info">
    <a data-toggle="collapse" href="#collapse-<%=order.id%>" aria-expanded="false" aria-controls="collapse-<%=order.id%>">
        <div class="dashboard__box--margin dashboard__box--order">
            <h4 class="uppercase font-weight-bold "><%=order.restaurant.name%></h4>
            <h4 class="uppercase font-weight-bold ">£ <%=to_pounds(order.total_price)%></h4>
        </div>
        <p class="dashboard__box--margin">Order <%=order.id%> placed at<%=order.order_time.strftime(" %l:%M %p")%> on <%=order.order_time.strftime("%e %B %Y")%></p>
        <p class="dashboard__box--margin dashboard__box--<%=order.status_report.keys.first.to_s%>"><%=order.status_report.values.first%></p>
        <div class="d-flex justify-content-center pt-2 pb-2">
            <i class="fas fa-angle-down"></i>
        </div>
    </a>
    <div class="collapse" id="collapse-<%=order.id%>">
        <%= render 'partials/order_details', order: order%>
    </div>
</div>