<div class="hero">
    <div class="container">
        <% flash.each do |type, msg| %>
      <div class="alert alert-info">
        <%= msg %>
      </div>
    <% end %>
        <div class="row hero__content">
            <div class="col-12 order-2 col-xl-7 order-xl-1">
                <div class="hero__text-box">
                    <h1>Welcome to Vegan Wheels, a Glasgow-based food delivery service</h1> 

                    <h2 class="margin-medium"> We are a cooperative with a passion for protecting animals. We connect some of Glasgow’s best vegan restaurants and cafes with a quick and efficient delivery service. All our profits are donated to an animal charity chosen by our members.</h2>  
                
                    <h2 class="margin-medium">With Vegan Wheels you can order from the best local restaurants and be confident that none of your money goes to businesses that use animal products.</h2>
                </div>
                <div class="search-form">
                    <p class="label-yellow uppercase">Enter your postcode to begin</p>
                    <%= simple_form_for :search, 
                        url: restaurants_path, 
                        method: "GET" do |f| %>
                    <%= f.input :postcode, 
                        input_html: {value: "", class: "search-form-big"},
                        label: false%>  
                    <%= f.button :button do %>
                        <i class="fas fa-search"></i>
                        <% end %>    
                    <% end %> 
                </div>
            </div>
            <div class="col-12 order-1 col-xl-5 order-xl-2">
                <div class="composition">
                    <div class="composition__blob composition__blob--1"></div>
                    <div class="composition__blob composition__blob--2"></div>
                    <div class="composition__blob composition__blob--3"></div>
                    <div class="composition__blob composition__blob--4"></div>
                    <div class="composition__image">
                        <%= image_tag "Face image.png" %>
                    </div>
                </div>
            </div>
        </div>
        <div class="row scroll">
            <div class="col-12 text-center">
                <i class="fas fa-chevron-down scroll-hero"></i>
                <p class="label-yellow uppercase">Find out more</p>
            </div>
        </div>
    </div>
</div>
<div class="features">
    <div class="container">
        <div class="row">
            <h1 class="margin-large text-justify text-center mx-auto">
            A new platform for Glasgow's vegan community
            </h1>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 features__images">
                <div class="features__images--box">
                    <%= image_tag "HP Group 3.png" %>
                </div>
                <div class="features__text">
                    <h2 class="text-center font-weight-bold">More than a delivery service</h2>
                    <h3 class="text-justify">We not only aim to provide an amazing delivery service, but also a platform for Glasgow’s vegan community to communicate and share ideas that will help the vegan movement grow and improve the quality of life for animals.</h3>
                </div>
            </div>
            <div class="col-12 col-lg-4 features__images">
                <div class="features__images--box">
                   <%= image_tag "HP Group 2.png" %>
                </div>
                <div class="features__text">
                    <h2 class="text-center font-weight-bold mt-4">Easy to join and use</h2>
                    <h3 class="text-justify">When you sign up we ask for some key information, such as your email, mobile number and address. None of your information will be shared with anyone outside of Vegan Wheels. We strongly believe in data privacy.</h3>
                </div>
            </div>
            <div class="col-12 col-lg-4 features__images">
                <div class="features__images--box">
                   <%= image_tag "HP Group 1.png" %>
                </div>
                <div class="features__text">
                    <h2 class="text-center font-weight-bold mt-4">Eat well, feel good</h2>
                    <h3 class="text-justify">By signing up for our platform you will be able to order from vegan restaurants based in Glasgow that are not usually available for home delivery. And you will be helping to improve animal welfare at the same time.</h3>
                </div>
            </div>
        </div>
        <div class="row scroll">
            <div class="col-12 text-center">
                <i class="fas fa-chevron-down scroll-features"></i>
                <p class="label-green uppercase">About us</p>
            </div>
        </div>
    </div>
</div>
<div id="about-section">
    <div class="about">
        <div class="about__content container">
            <div class="about__image">
                <%= image_tag "Together.png" %>
            </div>
            <div class="about__box container">
                
                    <h1 class="text-justify text-center">About us</h1>

                    <div class="about__text">
                        <h3 class="paragraph">Sollicitudin augue lobortis sem volutpat diam amet sit malesuada. Habitasse volutpat feugiat lobortis rhoncus elit ac aliquam. Vulputate tincidunt lacus tempus tempor nibh sit. Ut pellentesque mattis senectus non. Sapien in gravida tincidunt nisi, ullamcorper. Amet tellus a orci, cras orci. Hac pellentesque lacus senectus sed ut. Ullamcorper iaculis nullam quis enim cursus urna ultrices adipiscing.</h3>

                        <h3 class="paragraph">Nam non integer nunc, eget laoreet diam condimentum. Dictum elementum ut faucibus odio eget. Eget sed imperdiet mauris, habitant. Turpis sit lorem cras enim et netus etiam. Nullam scelerisque congue sed adipiscing id arcu nibh adipiscing.</h3> 

                        <h3 class="paragraph">Nam non integer nunc, eget laoreet diam condimentum. Dictum elementum ut faucibus odio eget. Eget sed imperdiet mauris, habitant.</h3> 
                        
                        <h3 class="paragraph">Consectetur tristique sed in tortor mauris morbi ante sed.</h3>

                        <%= link_to "Join Us", new_user_registration_path, class: "button__fill button__fill--bgreenl mx-auto"%>
                    </div>
               
            </div>         
        </div>
    </div>
    <%= render 'partials/modal_cart_bg'%>
</div>