<div class="hero">
    <div class="container">
        <div class="row hero__content">
            <div class="col-12 order-2 col-xl-7 order-xl-1">
                <div class="hero__text-box">
                    <h1>Vegan Wheels is a vegan food delivery service in Glasgow</h1> 

                    <h2 class="margin-medium"> We want to make it as easy as possible to eat delicious vegan food.</h2>  
                
                    <h2 class="margin-medium">With Vegan Wheels you can order from the best local restaurants and be confident that none of your money goes to businesses that use animal products.</h2>
                </div>
                <div class="search-form">
                    <p class="label-yellow uppercase">Enter your postcode to begin</p>
                    <%= simple_form_for :search, 
                        url: restaurants_path, 
                        method: "GET" do |f| %>
                    <%= f.input :postcode, 
                        input_html: {value: "", class: "search-form-big"},
                        label: false%>  
                    <%= f.button :button do %>
                        <i class="fas fa-search"></i>
                        <% end %>    
                    <% end %> 
                </div>
            </div>
            <div class="col-12 order-1 col-xl-5 order-xl-2">
                <div class="composition">
                    <div class="composition__blob composition__blob--1"></div>
                    <div class="composition__blob composition__blob--2"></div>
                    <div class="composition__blob composition__blob--3"></div>
                    <div class="composition__blob composition__blob--4"></div>
                    <div class="composition__image">
                        <%= image_tag "Face image.png" %>
                    </div>
                </div>
            </div>
        </div>
        <div class="row scroll">
            <div class="col-12 text-center">
                <i class="fas fa-chevron-down scroll-hero"></i>
                <p class="label-yellow uppercase">Find out more</p>
            </div>
        </div>
    </div>
</div>
<div class="features">
    <div class="container">
        <div class="row">
            <h1 class="margin-large text-justify text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus magna adipiscing suspendisse diam. Convallis mi.
            </h1>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 features__images">
                <div class="features__images--box">
                    <%= image_tag "HP Group 1.png" %>
                </div>
                <div class="features__text">
                    <h2 class="subheading text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                    <h3 class="text-justify text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet praesent non auctor.</h3>
                </div>
            </div>
            <div class="col-12 col-lg-4 features__images">
                <div class="features__images--box">
                   <%= image_tag "HP Group 2.png" %>
                </div>
                <div class="features__text">
                    <h2 class="subheading text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                    <h3 class="text-justify text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet praesent non auctor.</h3>
                </div>
            </div>
            <div class="col-12 col-lg-4 features__images">
                <div class="features__images--box">
                   <%= image_tag "HP Group 3.png" %>
                </div>
                <div class="features__text">
                    <h2 class="subheading text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                    <h3 class="text-justify text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet praesent non auctor.</h3>
                </div>
            </div>
        </div>
        <div class="row scroll">
            <div class="col-12 text-center">
                <i class="fas fa-chevron-down scroll-features"></i>
                <p class="label-green uppercase">About us</p>
            </div>
        </div>
    </div>
</div>
<div id="about-section">
    <div class="about">
        <div class="about__main">
            <div class="container">
                <div class="about__shape--photo"></div>
                <div class="about__shape--yellow"></div>
                <div class="about__shape--big">
                    <div class="about__text-box container">
                        <h1 class="margin-large text-justify text-center">Lorem ipsum dolor sit amet.</h1>
                        <h3 class="paragraph">Sollicitudin augue lobortis sem volutpat diam amet sit malesuada. Habitasse volutpat feugiat lobortis rhoncus elit ac aliquam. Vulputate tincidunt lacus tempus tempor nibh sit. Ut pellentesque mattis senectus non. Sapien in gravida tincidunt nisi, ullamcorper. Amet tellus a orci, cras orci. Hac pellentesque lacus senectus sed ut. Ullamcorper iaculis nullam quis enim cursus urna ultrices adipiscing.</h3>

                        <h3 class="paragraph">Nam non integer nunc, eget laoreet diam condimentum. Dictum elementum ut faucibus odio eget. Eget sed imperdiet mauris, habitant. Turpis sit lorem cras enim et netus etiam. Nullam scelerisque congue sed adipiscing id arcu nibh adipiscing.</h3> 

                        <h3 class="paragraph">Nam non integer nunc, eget laoreet diam condimentum. Dictum elementum ut faucibus odio eget. Eget sed imperdiet mauris, habitant.</h3> 
                        
                        <h3 class="paragraph">Consectetur tristique sed in tortor mauris morbi ante sed.</h3>
                    </div>
                </div>
                <div class="about__shape--medium"></div>  
                <div class="about__shape--small"></div>
            </div>
        </div>
        <div class="about__cta">
            <div class="about__cta--footer">
                    <h1>Get started with Vegan Wheels</h1>
                    <div class="button-big uppercase">
                        <a href="#">Sign up</a>
                    </div>
            </div>
            <div class="about__cta--shape">
                    <h1>Get started with Vegan Wheels</h1>
                    <div class="button button--big">
                        <a href="#">Sign up</a>
                    </div>
            </div>
        </div>
    </div>
    <div class="modal-item modal__bckg">
    </div>
    <div class="modal-cart modal__bckg">
            <%if !session[:cart_id].nil? && Cart.find(session[:cart_id]).order_items.present?%>
            <%@cart = Cart.find(session[:cart_id])%>
                <%= render 'partials/modal_cart', cart: @cart%>
            <%end%>
    </div> 
</div>