<div class="container white-content-box">
  <div class="row">
    <div class="col-12">
      <div class="vwform mx-auto">
      <% flash.each do |key, value| %>
        <div class="vw-error <%= flash_class(key) %>">
              <%= value %>
        </div>
      <% end %>
        <h1 class="vwform__heading text-center">Welcome back</h1>
        <div class="mt-3 mb-3">
          <div class="vwform__field vwform__alert">
            <p>Don't have an account yet?</p>
            <p><%= link_to "Sign up here.", new_registration_path(resource_name), class: "vwform__field--link" %></p>
          </div>
        </div>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
            <%= f.error_notification %>
              <%= f.input :email,
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "email" },
                          label_html: { class: "vwform__field" } %>
              <%= f.input :password,
                          required: false,
                          input_html: { autocomplete: "current-password" },
                          label_html: { class: "vwform__field" } %>
              <%= f.input :remember_me, as: :boolean, inline_label:"Remember me", label_html: { class: "vwform__field vwform__field--check"} %>
            </div>

            <div class="form-actions">
               <%= f.button :submit, "Log in", class: "button__fill button__fill--sgreen" %>

            </div>
            <%= link_to "Forgot your password?", new_password_path(resource_name), class: "btn button__fill button__fill--sgreenl" %>
          <% end %>

              


    
      </div>
    </div>
  </div>
</div>