<div class="container white-content-box">
    <div class="row">
        <div class="col-12 col-lg-5">
            <div class="show-card">
                <div class="show-card__title">
                    <% @restaurant.name.split.each do |word| %>
                        <h1><%=word%></h1>
                    <%end%>
                </div>
                <div class="show-card__image">
                <%= cl_image_tag @restaurant.photo.key, crop: :fill %>
              </div>
            </div>
        </div>
        <div class="col-12 col-lg-7">
            <div class="info-box">
                <div class="row">
                    <div class="col-12">
                        <h3 class="subtitle">About us</h3>
                        <p> <%=@restaurant.about%> </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h3 class="subtitle">Contact us</h3>
                        <div class="info-box__section">
                            <div class="info-box__section--box">
                                 <%@restaurant.address.split(',').each do |line|%>
                                    <p><%=line%></p>
                                 <%end%>
                                <%= link_to "See map", "https://www.google.com/maps/search/?api=1&query=#{@restaurant.latitude},#{@restaurant.longitude}", target: "_blank" %>
                                 
                            </div>
                            <div class="info-box__section--box">
                                <i class="fas fa-phone-square-alt"></i>
                                <%=@restaurant.phone%>
                            </div>
                            <div class="info-box__section--box">
                                <i class="fas fa-envelope-square"></i>
                                <%=@restaurant.email%>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="info-box__section">
                            <div class="info-box__section--box">
                                <h3 class="subtitle">Website</h3>
                                <%= link_to "Visit our website", @restaurant.website, target: "_blank" %>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="info-box__section">
                            <div class="info-box__section--box">
                                <h3 class="subtitle">Available</h3>
                                <%open_time = Time.at(@restaurant.open_time)%>
                                <%close_time = Time.at(@restaurant.close_time)%>
                                <%=open_time.strftime("%I:%M %p")%> - 
                                <%=close_time.strftime("%I:%M %p")%>     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <%sections = @restaurant.sections.uniq.sort_by { |section| section.order }%>
    <%sections.each do |section|%>
        <div class="row">
            <div class="col-12">
                <div class="section">
                    <h2><%=section.name%></h2>
                </div>
            </div>
        </div>
        <div class="row menu">
            <%@restaurant.menu_items.each do |item|%>
                <%if item.section == section%>
                <div class="col-12 col-lg-6">
                    <div class="menu__item menu__item--js <%=item.id%>">
                        <div class="menu__item--text">
                            <div class="top">
                                <h3><%=item.name%></h3>
                                <h3 class="price">£
                                <%=to_pounds(item.price)%>
                                </h3>
                            </div>
                            <div class="middle">
                                <p><%=item.description%></p>
                            </div>
                        </div>
                    </div>
                </div>
                <%end%>
                <%= render 'partials/modal', item: item, order_item: OrderItem.new%>
            <%end%>
        </div>
    <%end%>  
</div>
